* {
  background-image: url('images/background.png');
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

header h1 {
  color: rgb(222, 243, 218);
  height: 100px;
}

.planetTitle h2 {
  color: rgb(222, 243, 218);
  display: flex;
  justify-content: center;
  padding: 50px;
  width: 100%;
}

.planetCard {
  border-radius: 9px;
  display: flex;
  justify-content: center;
  padding: 20px;
  text-align: center;
}

.planetCard img {
  width: 200px;
}

.planetCard p {
  color: white;
}

.test {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
}

.mission h2 {
  color: white;
  padding: 20px;
  text-align: center;
}

.missionsCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 30px;
}

.missionsCard p {
  color: white;
}
